/Users/swati.kumari/Documents/itaws/plot1.R
/Users/swati.kumari/Documents/itaws/plot1.png
/Users/swati.kumari/Documents/itaws/plot2.R
/Users/swati.kumari/Documents/itaws/plot2.png
/Users/swati.kumari/Documents/itaws/plot3.R
/Users/swati.kumari/Documents/itaws/plot3.png
/Users/swati.kumari/Documents/itaws/plot4.R
/Users/swati.kumari/Documents/itaws/plot4.png